In [1]:
import streamlit as st
import datetime as date
import yfinance as yf 
from prophet import Prophet
from prophet.plot import plot_plotly
from plotly  import graph_objs as go

In [ ]:
START="2015-01-01"
TODAY=date.today().strftime("%Y-%m-%d")

In [6]:
import pandas as pd
df=pd.read_csv('new.csv')
df.reset_index()

     index                                  Apple Inc. (AAPL)
0        0                       Microsoft Corporation (MSFT)
1        1                             Amazon.com Inc. (AMZN)
2        2                              Alphabet Inc. (GOOGL)
3        3                                  Facebook Inc.(FB)
4        4                          NVIDIA Corporation (NVDA)
..     ...                                                ...
194    194                         Sanofi India Ltd. (SANOFI)
195    195                  Abbott India Limited (ABBOTINDIA)
196    196       GlaxoSmithKline Pharmaceuticals Ltd. (GLAXO)
197    197                            Pfizer Limited (PFIZER)
198    198  Himalaya Drug Company (Private company not pub...

[199 rows x 2 columns]